.backLink {
    border: solid #D7B062;
    background-color: #D7B062;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 9px;
    margin-top: 2rem;

    &:hover {
        background-color: #FFF;
        transition: background-color 250ms;
        color: #D7B062;
    }

    &__text {
        padding : 0;
        margin: auto;
        font-size: 13px;
    }
}


